<h3><%= form_tag '/send_form', method: :post do %></h3>
  <div>
    <%= label_tag :email, 'Join Our Mailing List' %>
    <%= text_field_tag :email, nil, placeholder: 'enter your email here' %>
  </div>
  <div>
    <%= submit_tag 'Submit' %>
  </div>

<% end %>


