<h1>Want to learn some fancy talking?</h1>
<h1>Buy an accent!</h1>

<% @all_accents.each_slice(3) do |accent_row| %>
  <div class="row">
    <% accent_row.each do |accent| %>
     <div class="col-md-4">
      <div class="well thumbnail index-list">
        <h2> <%= link_to accent.name, "/accents/#{accent.id}" %> </h2>
        <h3> $<%= accent.price %></h3>
        <h3> <img src=<%= accent.image %>  ></h3>
        <h3><%= accent.description %></h3>
       </div>
      </div>
    <% end %>
  </div>
<% end %>


