<h1>This is one accent</h1>

<h2> Accent: <%= @one_accent.name %> </h2>
<h2> Price: $<%= @one_accent.price %> </h2>
<h2> <img src= <%= @one_accent.image %> > </h2>
<h2> Description: <%= @one_accent.description %> </h2>