<h1>Checkout Page</h1>

<div class= "thumbnail">
  <% @carted_products.each do |carted_product| %>
    <h2><%= @carted_product.accent.name %> - qty: <%= @carted_product.quantity %> - <%= link_to 'remove', "/carted_products/#{carted_product.id}", method: :delete %></h2>
  <% end %>
</div>

<%= link_to 'Buy Now!', '/orders', method: :post, class: 'btn btn-danger' %>
      